In [2]:
pip install ucimlrepo

Collecting ucimlrepo
  Obtaining dependency information for ucimlrepo from https://files.pythonhosted.org/packages/3e/4a/ecc3456479d687202b34ee42317c3a63e09793c9409a720052d38356431a/ucimlrepo-0.0.3-py3-none-any.whl.metadata
  Downloading ucimlrepo-0.0.3-py3-none-any.whl.metadata (5.2 kB)
Downloading ucimlrepo-0.0.3-py3-none-any.whl (7.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.3
Note: you may need to restart the kernel to use updated packages.

In [41]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
heart_disease = fetch_ucirepo(id=45) 
  
# data (as pandas dataframes) 
df = heart_disease.data.features 
target = heart_disease.data.targets 
  
# metadata 
#print(heart_disease.metadata) 
  
# variable information 
#print(heart_disease.variables)

In [42]:
df.shape

(303, 13)

In [43]:
target.shape

(303, 1)

In [47]:
target.head()

   num
0    0
1    2
2    1
3    0
4    0

In [45]:
data = df.join(target)

In [46]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0

In [48]:
import pandas as pd

In [49]:
import os

notebook_path = os.getcwd()
print(notebook_path)

/Users/richardsonsaintbonheur/Documents/GitHub/heart-diseases

In [50]:
data.to_csv('/Users/richardsonsaintbonheur/Documents/GitHub/heart-diseases/data/heart-disease.csv', index = False)

In [51]:
test_data = pd.read_csv('data/heart-disease.csv')

In [52]:
test_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0

In [23]:
from os import PathLike
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from joblib import dump
import pandas as pd
import pathlib

In [54]:
data_ = pd.read_csv(pathlib.Path('data/heart-disease.csv'))

In [55]:
data_.shape

(303, 14)

In [56]:
data_.dropna(inplace=True)

In [57]:
data_.shape

(297, 14)

In [58]:
y = data_.pop('num')

X = data_

In [61]:
X.shape

(297, 13)

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [63]:
print('Trainin model...')

Trainin model...

In [64]:
clf = RandomForestClassifier(n_estimators = 10, max_depth = 2, random_state =0)

In [65]:
clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=2, n_estimators=10, random_state=0)

In [32]:
import requests

body = {
  "age": 64,
  "sex": 1,
  "cp": 10,
  "trestbps": 500,
  "chol": 20,
  "fbs": 4,
  "restecg": 4,
  "thalach": 400,
  "exang": 20,
  "oldpeak": 20,
  "slope": 12,
  "ca": 10,
  "thal": 10
}

In [33]:
response = requests.post(url = 'http://0.0.0.0/score',
              json = body)

In [34]:
print (response.json())

{'score': 0.06975695473077018}